body {
  font-family: sans-serif;
  margin: 1rem;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 1rem;
}

th, td {
  border: 1px solid #ccc;
  padding: 4px 8px;
}

tr.alert {
  background-color: #ffcccc;
}
